{% extends "djadmin/base.html" %}

{% load staticfiles %}

{% block title %}<title>{{ site_info.site_name }}控制台</title>{% endblock %}
{% block keywords %}<meta name="keywords" content="{{ site_info.site_keywords }}"/>{% endblock %}
{% block description %}<meta name="description" content="{{ site_info.site_description }}"/>{% endblock %}

{% block main %}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            {{ site_info.site_name }}
            <small>控制台</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>&nbsp;首页</a></li>
            <li><a href="#">
                {% for menu in menu_list %}
                    {% ifequal menu.id menu_now.menu_pid %}
                        {{ menu.menu_name }}
                    {% endifequal %}
                {% endfor %}
            </a></li>
            <li class="active">{{ menu_now.menu_name }}</li>
        </ol>
    </section>

    <section class="content">
        {% if messages %}
            <div class="callout callout-info">
                <h4>提示：</h4>
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <div class="add-button">
            <p class="text-right">
                <a href="/djadmin/task/add" class="btn btn-primary"><i class="fa fa-fw fa-plus"></i> 创建新任务</a>
            </p>
        </div>

        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">{{ menu_now.menu_name }}</h3>
                <div class="box-tools">
                    <form action="/djadmin/task" method="GET">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="q" class="form-control pull-right" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>任务ID</th>
                            <th>任务名</th>
                            <th>任务描述</th>
                            <th>任务进度</th>
                            <th>状态</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        {% for task in tasks %}
                            <tr>
                                <td>{{ task.id }}</td>
                                <td><a href="/djadmin/task/{{ task.id }}/change">{{ task.task_name }}</a></td>
                                <td>{{ task.task_description }}</td>
                                <td>{{ task.get_finished_facetracks.count }}/{{ task.facetrack_set.count }}</td>
                                <td>
                                    {% if task.task_status.id == 1 %}
                                        <span class="label label-success">{{ task.task_status.status_description }}</span>
                                    {% elif task.task_status.id == 2 %}
                                        <span class="label label-warning">{{ task.task_status.status_description }}</span>
                                    {% elif task.task_status.id == 3 %}
                                        <span class="label label-info">{{ task.task_status.status_description }}</span>
                                    {% elif task.task_status.id == 4 %}
                                        <span class="label label-primary">{{ task.task_status.status_description }}</span>
                                    {% elif task.task_status.id == 5 %}
                                        <span class="label label-success">{{ task.task_status.status_description }}</span>
                                    {% else %}
                                        <span class="label label-danger">状态错误</span>
                                    {% endif %}
                                </td>
                                <td>{{ task.created_time|date:"Y-m-d H:i:s" }}</td>
                                <td>
                                    {% if task.task_status.id == 1 %}
                                        <a href="/djadmin/task/{{ task.id }}/upload">上传数据</a>
									{% elif task.task_status.id == 3 %}
										<a href="/djadmin/task/{{ task.id }}/assign">分配用户</a>
										&nbsp;
										<a href="/djadmin/task/{{ task.id }}/release" onclick="return confirm('确定要发布该任务？')">发布任务</a>
                                    {% elif task.task_status.id == 4 %}
										<a class="btn btn-success btn-xs" href="/djadmin/task/{{ task.id }}/assign">分配用户</a>
										&nbsp;
                                        <a class="btn btn-success btn-xs" href="/djadmin/task/{{ task.id }}/detail">任务概况</a>
                                        &nbsp;
                                        <a class="btn btn-success btn-xs" href="/djadmin/task/{{ task.id }}/view">实时查看</a>
                                    {% elif task.task_status.id == 5 %}
										<a class="btn btn-success btn-xs" href="/djadmin/task/{{ task.id }}/assign">分配用户</a>
										&nbsp;
                                        <a class="btn btn-success btn-xs" href="/djadmin/task/{{ task.id }}/detail">任务概况</a>
                                        &nbsp;
                                        <a class="btn btn-success btn-xs" href="/djadmin/task/{{ task.id }}/view">任务详情</a>
                                    {% else %}
                                        <a href="#"></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->

            <div class="box-footer clearfix">
                <ul class="pagination no-margin pull-right">
                    <li>
                        {% if tasks.has_previous %}
                            <a href="/djadmin/task?q={{ query }}&page={{ tasks.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        {% endif %}
                    </li>

                    {% for page_num in page_range %}
                        {% ifequal page_num tasks.number %}
                            <li class="active">
                                <span class="current">{{ tasks.number }}</span>
                            </li>
                        {% else %}
                            <li>
                                <a href="/djadmin/task?q={{ query }}&page={{ page_num }}"">
                                    <span>{{ page_num }}</span>
                                </a>
                            </li>
                        {% endifequal %}
                    {% endfor %}  

                    <li>
                        {% if tasks.has_next %}
                            <a href="/djadmin/task?q={{ query }}&page={{ tasks.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        {% endif %}
                    </li>
                    <li><span>查询到{{ query_num }}条记录</span></li>
                </ul>
            </div>
        </div>
    </section>
</div>

{% endblock %}
